body {
    background-color: rgb(255, 255, 255);
}

.navbar {
    margin-bottom: 28%;
}

.container {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}


@media (max-width: 770px) {
    .container {
        margin: 0 10%; 
    }

}